<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qdu.mapping.UserMapper">

    <select id="findAll"
            resultType="qdu.together.userdomain.dao.User">
        select * from user 
    </select>

    <select id="findbyid" 
            parameterType="String"  
            resultType="qdu.together.userdomain.dao.User">
        select *from user where user_ID=#{id}
    </select>

    <insert id="insert"
            parameterType="qdu.together.userdomain.dao.User">
            insert user values (#{userID},#{userName},#{userGender},#{userWechat},#{userBirthday},#{userAge},#{userJob},#{userWorkplace},#{userBackgroud},#{userTouxiang})
    </insert>
          
    <update id="update"
            parameterType="qdu.together.userdomain.dao.User">
            update user set
              user_Name = #{userName},
              user_Gender = #{userGender},
              user_Wechat = #{userWechat},
              user_Birthday=#{userBirthday},
              user_Age=#{userAge},
              user_Job=#{userJob},
              user_Workplace=#{userWorkplace},
              user_Backgroud=#{userBackgroud},
              user_Touxiang=#{userTouxiang}
            where user_ID = #{userID};
     </update>
          
    <delete id="delete"
            parameterType="String">
            delete from user where user_ID = #{id}
            
    </delete>
</mapper>
